html {
    min-height: 100%
    }
body {
    min-height: 100%;
    background: #fff;
    font: 14px/125% Tahoma;
    }
p {
    margin: 1em 0;
    text-align: center
    }
#prompt-form {
  display: inline-block;
  padding: 5px 5px 5px 70px;
  width: 200px;
  border: 1px solid black;
  vertical-align: middle;
}

#prompt-form-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;
}

#prompt-form-container:before {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}































