html {
    min-height: 100%
    }
body {
    min-height: 100%;
    background: #fff;
    font: 14px/125% Tahoma;
    }
p {
    margin: 1em 0;
    text-align: center
    }

.popup__overlay{
    width: 100%;
    height: 100%;
    display: table;
    position: absolute;
    top: 0;
    left: 0;  
    background: rgba(0,0,0,.7);
}

.inner {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
 }

 .popup{
        display: block;
        border-radius: 15px;
        background: #fff;
 }


































